@charset "utf-8";
* {
	margin:0px;
	padding:0px;
}
#wrapper {
	height: auto;
	width: 980px;
	margin-right: auto;
	margin-left: auto;
}
header {
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	width:980px;
	height:537px;
	padding-top:15px;
}
#h-left {
	width:770px;
	height:auto;
	float:left;
}
#h-right {
	width:209px;
	height:auto;
	float:left;
}
#h-right img {
	margin-right:4px;
}
#menu {
	width:209px;
	height:56px;
	margin-left:12px;
	background:#7f6e5f;
	margin-bottom:15px;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	font-size:18px;
	color:#FFF;
	line-height:56px;
	opacity:0.88;
	padding-left:22px;
}
.menu-list {
	width:179px;
	height:38px;
	margin-left:12px;
	background:#737673;
	margin-bottom:10px;
	padding-left:52px;
	line-height:38px;
	opacity:0.88;
}
.menu-list a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#FFF;
	text-decoration:none;
}
.menu-list:hover {
	background:#7f6e5f;
}
#content {
	width:978px;
	height:auto;
	background:#FFF;
	float:left;
	border:thin dotted #CCC;
}
.box-ct {
	width:212px;
	height:168px;
	border-radius:10px;
	background:#998675;
	margin-top:18px;
	margin-left:16px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#FFF;
	padding-left:13px;
}
#ct {
	width:950px;
	height:auto;
	float:left;
	margin-left:16px;
	font-family:Tahoma, Geneva, sans-serif;
}
footer {
	width:980px;
	height:78px;
	float:left;
	background:#493a2b;
	color:#FFF;
	text-align:center;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
}